<!-- reviews-show.handlebars -->

<a href="/movies/{{review.movieId}}">Back to Movie</a>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{review.title}}</h1>
        <h2>{{review.reviewTitle}}</h2>
        <h3>Rating: {{review.rating}}</h3>
        <p>{{review.description}}</p>   

        <!-- Edit button -->
        <p><a href="/movies/{{review.movieId}}/reviews/{{review._id}}/edit">Edit</a></p>

        <!-- Delete button -->
        <p><form method="POST" action="/movies/{{review.movieId}}/reviews/{{review._id}}?_method=DELETE">
            <button type="submit">Delete</button>
        </form></p>

        <hr>

        <!-- Comment-form -->
        {{> comment-form}}

        <!-- Show Comments -->
        <div id="comments">
            {{#each comments}}
                {{> comment}}
            {{/each}}
        </div>
    </div>
</div>




